.App {
  display: block;
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-align: center;  
  width: 70%;
}

/* FONTS */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

body {
  font-size: 16px;
}

/* BUTTONS */
button {
  background: white;
  border-color: lightgray;
  border-style: solid;
  cursor: pointer;
  font-size: 16px;
  margin: 6px;
  padding: 10px 20px;
  text-align: center;
}

button:hover {
  background: lightblue;
}

/* CARDS */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  position: relative;
}

.card {
  border-color: lightgrey;
  border-style: solid;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 380px;
  height: 300px;  
}

img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.info {
  background: rgba(57, 57, 57, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.edit {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.delete {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* FORM */
form {
  text-align: left;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

input, select  {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

input:focus {
  background-color: lightblue;
}


/* NAVIGATION */
.nav-link{
  background: lightgray;display: inline-block;
  box-sizing: border-box;
  font-size: 16px ;
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  background: lightblue;
}

.active {
  color: red;
}
