.nav-link{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 6px 6px;
    background: lightgray;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
}

.active {
    color: red;
}